<h1>Chat Online: Socket.io</h1>
<div>
  <input type="text" id="usernameInput" placeholder="Nombre de usuario">
  <br>
  <input type="text" id="messageInput" placeholder="Escribe tu mensaje">
  <button id="sendButton">Enviar</button>
</div>
<div id="messageLogs"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>